---
import RootLayout from 'layouts/RootLayout.astro'

import { CounterButton } from 'components/atoms'

import S from './_styles.module.scss'
---

<RootLayout title="Boilerplate" description="Boilerplate Astro.js + React">
  <div class={S.container}>
    <header class={S.header} role="banner">Boilerplate</header>
    <main class={S.main}>
      <div class={S.wrapper_images}>
        <img
          alt="Logo Astro.js"
          height={77}
          src="/images/logo_astro.svg"
          width={77}
        />
        <img
          alt="Logo React"
          height={77}
          src="/images/logo_react.svg"
          width={87}
        />
      </div>
      <h1 class={S.title}>Astro.js + React</h1>
      <CounterButton client:load />
    </main>
  </div>
</RootLayout>
